{% extends "task_manager/base.html" %}
{% load i18n %}

{% block heading %}
{% if user.is_authenticated %}
Hello, dear {{ user.username }}!!!
{% else %}
Hello, {{who}}
{% endif %}
{% endblock heading %}

{% block content %}
{% if user.is_authenticated %}
Glad to see you here. Lets's start our work :)
{% else %}
This is the first page of our application
<p class="lead">
    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
</p>
{% endif %}

<p>{% translate "Home" %}</p>

<p>{% translate "User" %}</p>

{% get_current_language as LANGUAGE_CODE %}

{{LANGUAGE_CODE}}

{% endblock content %}